# comment out the ones not using
AI_PROVIDER=groq
GROQ_API_KEY=
# AI_PROVIDER=nova
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=

# linkedin
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# next js
NEXT_PUBLIC_APP_URL=